.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: 'center';
}

.button {
  border-radius: 5px;
  width: 80px;
  height: 40px;
  outline: none;
  border: none;
  background-color: rgb(48, 149, 238);
  color: #fff;
  font-weight: 600;
  margin: 50px 0;
}

.button:active {
  opacity: 0.5;
  outline: none;
}

.separator {
  width: 150px;
  height: 2px;
  background-color: rgb(117, 117, 117);
  margin: 50px 0;
}